<!Doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Document</title>
</head>
<body>
        <footer>
            <section>
                <div class="partners-container">
                    <div class="partners-heading">
                        <h1>Our Patners</h1>
                    </div>
                    <div class="logos">
                            <img src="../assets/images/nestle.svg" alt="logoipsum">
                            <img src="../assets/images/Kellogg's - jpeg.svg" alt="logoipsum">
                            <img src="../assets/images/logo1.svg" alt="logoipsum">
                            <img src="../assets/images/logo2.svg" alt="logoipsum">
                            <img src="../assets/images/logo3.svg" alt="logoipsum">
                            <img src="../assets/images/logo4.svg" alt="logoipsum" class="long-img">
                            <img src="../assets/images/logo5.svg" alt="logoipsum">
                            <img src="../assets/images/pringles.svg" alt="logoipsum">
                    </div>

                </div>
            </section>

            <section>
                <div class="quick-links pd-100">
                    <div class="footer-nav-logo nav-logo"> <h2>foodsbarn</h2></div>
                    <div class="list1">
                        <h3>Company</h3>
                        <div class="q-list">
                            <a href="">Foodly App</a>  
                            <a href="">Farm Products</a>
                            <a href="">Grocery Shopping</a>  
                            <a href="">Market Runs</a>  
                            
                          </div>  
                    </div>
                    <div class="list1">
                        <h3>Socials</h3>
                        <div class="q-list">
                            <a href="">Instagram</a>  
                            <a href="">Facebook</a>  
                            <a href="">Tiktok</a>  
                            <a href="">Whatsapp</a>  
                          </div>  
                       
                    </div>
                    <div class="list1">
                        <h3>Support</h3>

                        <div class="q-list">
                            <a href="">Customer Support</a>  
                            <a href="">Mobile Support</a>  
                          </div>  
                    </div>
                    <div class="list1">
                        <h3>Contact</h3>
                        <div class="q-list">
                          <a href="">+234-708-767-3800 </a>  
                          <a href="">hi@foodsbarn.com </a>  
                        </div>    
                    </div>
                </div>
            </section>
        </footer>
    
</body>
</html>