<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/form.css">
    <link rel="stylesheet" href="../assets/css/mainsection.css">
    <title>Document</title>
</head>
<body>
    <main>

        <div class="main-container">

            <section>
                <div class="main-top main-sectn pd-100">
                    <div class="main-tl">
                        <div class="main-card">
                            <h2>Groceries & more delivered to your door</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in enim viverra risus. Sed at aenean mauris, scelerisque. Duis faucibus.</p>
                            <button>Start Exploring</button>
                        </div>
                    </div>
                    
                    <div class="main-tr">
                        <img src="../assets/images/man1.svg" alt="">
                    </div>
                    
                </div>
            </section>
            

            <section>
                <div class="main-mid main-sectn pd-100">
                    <div class="main-ml">
                    <div class="item2-box">
                        <div class="items2 box1">
                            <img src="../assets/images/item2.svg" alt="">
                            <h5>Timely Delivery</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="items2 box2">
                            <img src="../assets/images/item2.svg" alt="">
                            <h5>Timely Delivery</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="items2 box3">
                            <img src="../assets/images/item2.svg" alt="">
                            <h5>Timely Delivery</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="items2 box4">
                            <img src="../assets/images/item2.svg" alt="">
                            <h5>Timely Delivery</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="items2 box5">
                            <img src="../assets/images/item2.svg" alt="">
                            <h5>Timely Delivery</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="items2 box6">
                            <img src="../assets/images/item2.svg" alt="">
                            <h5>Timely Delivery</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    </div>
                        
                    <div class="main-mr">
                        <div class="main-mr-img">
                            <img src="../assets/images/food21.svg" alt="">
                        </div>
                    </div>
                </div>
    
            </section>
            


            <section>
                <div class="main-bttm main-sectn pd-100">
                    <div class="main-bl">
                       <img src="../assets/images/android2.svg" alt="" class="image1">
<!--                        <img src="../assets/images/android1.svg" alt="second image" class="image2">
                       -->
                    </div>
                    <div class="main-br">
                        <h1 class="mb-25">Groceries & more delivered to your door</h1>
                        <p class="mb-25">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque, in
                            enim viverra risus. Sed at aenean mauris, scelerisque. Duis
                            faucibus pulvinar quam quis id arcu.
                        </p>
                        <button class="cta">Start Exploring</button>
                    </div>
                </div>
            </section>
            

        </div>
        
    </main>
    
</body>
</html>